<div class="brand">BREWARDS</div>
<div class="slogan">Drink beer | Reward yourself</div>


<div class="row">
    <div class="welcome-box">
        <div class="col-lg-12">
            <h2 class="intro-text text-center"> Welcome
                <strong>{{user.name}}</strong>
            </h2>
            <hr>
        </div>
        <div class="row">
            <div class="userInfo">
            	<div class="col-ex-5 col-xs-offset-1">
            		<h3 class="userPoints"> Total Points: 
            			<strong> 475 </strong>
            		</h3>
            		<h3 class="favBeers"> Favorite Beers:
            			<strong><ul class="userBeers">
            				<li>80 Shilling</li>
            				<li>Wag the Wolf</li>
            				<li>St Dora Cheery Wheat</li>
            				<li>Night Märzen</li>
            			</ul></strong>
            		</h3>
            	</div>
            	<div class="col-ex-5 col-xs-offset-1">
	
            	</div>
            		<button type="button" class="btn btn-danger">Sign Out</button>
            </div>
        </div>
    </div>
</div>


<div class="beer-box">
    <h2 class="intro-text text-center">
       Available Beers
    </h2>
    <!--<div class="table-responsive">-->
    <div class="beer-table">
        <table class=" table table-bordered table-hover">

            <thead>
            <tr>
                <th style="width: 108px">Beer Name</th>
                <th  style="width: 67px">Alcohol Level</th>
                <th style="width: 68px" >Rewards Points</th>
                <th  style="">Description</th>


            </tr>
            </thead>

            <tbody>
            {{#each beerList}}

                <tr >
                    <td >{{this.name}}</td>
                    <td style="width: 68px">{{this.alcohol_level}}</td>
                    <td style="width:76px">{{this.points}}</td>
                    <td>{{this.description}}</td>

                </tr>

            {{/each}}
            </tbody>

        </table>
    </div>
    <!--</div>-->
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p class ="footerText">Copyright &copy; Brewards 2016</p>
			</div>
		</div>
	</div>
</footer>